## Research question 1:

1. Are inhabitants of cities more likely to have more friends than individuals living in rural areas?

Plan to answer this question:

- how many people define a city? Drop cities with less inhabitants, less population density
- convert area to radius
- for each country:
    for each home location in that country:
        is home location near city? calculate distance to city, 
        if distance < given radius, then yes
- calculate # friends per user, group by rural/city and compare amount of friends

### Libraries

In [2]:
import pandas as pd

### Load the data

In [3]:
B_homes = pd.read_pickle("B_homes.pickle")
G_homes = pd.read_pickle("G_homes.pickle")

In [9]:
B_homes.head()

          longitude   latitude country
               mean       mean
user_id
0       -105.009140  39.756108      US
1       -122.353819  37.581821      US
2       -105.041977  39.771737      US
3       -122.424280  37.765768      US
4         24.937299  60.173985      FI

In [25]:
cities = pd.read_csv("city_and_area.csv").drop(columns = ['Unnamed: 0'], axis = 1)

In [8]:
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,area
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764,2194.07
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077,7062.50
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604,1484.00
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629,4355.00
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140,1474.82

### Deal with the cities

1. Calculate population density
2. Drop cities with # inhabitants < 50.000 and population density < 1500 ([How we define cities](https://blogs.worldbank.org/sustainablecities/how-do-we-define-cities-towns-and-rural-areas))
       The Degree of Urbanization identifies cities as cities, if they have a population of at least 50,000 inhabitants in contiguous dense grid cells (>1,500 inhabitants per km2);
3. Calculate the radius for each city

In [27]:
# 1. Calculate population density
cities['density'] = cities['population'] / cities['area']

In [28]:
# 2. Drop cities with # inhabitants < 50.000 and population density < 1500
cities = cities[(cities['population'] > 50000) & (cities['density'] > 1500)]

In [ ]:
# 3. Calculate the radius for each city

### Take a subset for now

In [11]:
B_homes = B_homes.sample(20, random_state=1)
B_homes.head()

          longitude   latitude country
               mean       mean
user_id
8422      -1.483491  53.425966      GB
39087      9.974330  53.566032      DE
27195    -97.337472  32.757786      US
20143      0.000000   0.000000      GH
36651   -120.997044  37.642311      US

In [12]:
B_homes.country.unique()

array(['GB', 'DE', 'US', 'GH', 'JP', 'DK', 'TR', 'ES', 'SE'], dtype=object)

### Step 1: