# Research question 2

#### 2. How often do users visit each other? Does it depend on whether they live in a city or not or on the season of the year?

Concept:

- g
- h
- h

### Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
from poisson_etest import poisson_etest
from sklearn.linear_model import LinearRegression
from geopy.distance import distance
from functions import load_data

### Load Data

In [ ]:
B_check_ins

In [3]:
B_homes = pd.read_pickle("B_homes_urban.pickle")
G_homes = pd.read_pickle("G_homes_urban.pickle")

In [8]:
%cd "/home/mogan/Desktop"
B_check_ins, B_edges = load_data("Brightkite")
G_check_ins, G_edges = load_data("Gowalla")

/home/mogan/Desktop

In [9]:
B_check_ins

,user_id,checkin_time,latitude,longitude,location_id
0,0,2010-10-17T01:48:53Z,39.747652,-104.992510,88c46bf20db295831bd2d1718ad7e6f5
1,0,2010-10-16T06:02:04Z,39.891383,-105.070814,7a0f88982aa015062b95e3b4843f9ca2
2,0,2010-10-16T03:48:54Z,39.891077,-105.068532,dd7cd3d264c2d063832db506fba8bf79
3,0,2010-10-14T18:25:51Z,39.750469,-104.999073,9848afcc62e500a01cf6fbf24b797732f8963683
4,0,2010-10-14T00:21:47Z,39.752713,-104.996337,2ef143e12038c870038df53e0478cefc
...,...,...,...,...,...
4747282,58222,2009-01-23T02:30:34Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747283,58224,2009-01-03T15:06:54Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747284,58225,2009-01-20T13:58:14Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747285,58226,2009-01-20T13:30:09Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0
4747286,58227,2009-01-21T00:24:35Z,33.833333,35.833333,9f6b83bca22411dd85460384f67fcdb0

In [10]:
B_homes

          longitude   latitude country   user  lives_urban
user_id
18790   -116.203451  43.613500      US  18790         True
50434     -2.966667  56.500000      GB  50434        False
52196    145.133333 -37.916667      AU  52196        False
26515    139.550000  35.683333      JP  26515         True
25999    139.678110  35.640909      JP  25999         True
...             ...        ...     ...    ...          ...
11365    -77.350471  38.852800      US  11365        False
2970     -96.265889  34.125722      US   2970        False
43453    -73.997292  40.704560      US  43453        False
57835   -122.676207  45.523452      US  57835        False
34943     -0.139475  50.828385      GB  34943         True

[19532 rows x 5 columns]

In [11]:
# Dataset if something was a friends visit

%cd "/home/mogan/Documents/Data_Friendship"

bk_checkins = pd.read_pickle("bk_checkins_MS4.pickle")
gw_checkins = pd.read_pickle("gw_checkins_MS4.pickle")

/home/mogan/Documents/Data_Friendship

In [12]:
bk_checkins

,user,check-in-time,latitude,longitude,cell,check-in,home_location,distances_travelled,was_friends_visit
159197,231,2010-04-25T12:28:57Z,42.048681,-72.014606,"(42.043285076700656, -71.94572847349845)",159197,"(42.080231320000024, -72.0308164)",3.752493,False
158876,231,2010-08-17T02:08:19Z,42.075028,-72.041459,"(42.043285076700656, -71.94572847349845)",158876,"(42.080231320000024, -72.0308164)",1.053387,False
159550,231,2010-02-22T15:12:10Z,42.075095,-72.033408,"(42.043285076700656, -71.94572847349845)",159550,"(42.080231320000024, -72.0308164)",0.609491,False
159879,231,2010-01-10T00:29:38Z,42.075095,-72.033408,"(42.043285076700656, -71.94572847349845)",159879,"(42.080231320000024, -72.0308164)",0.609491,False
159212,231,2010-04-22T02:57:06Z,42.071045,-72.040899,"(42.043285076700656, -71.94572847349845)",159212,"(42.080231320000024, -72.0308164)",1.318070,False
...,...,...,...,...,...,...,...,...,...
3548476,18821,2008-09-16T03:14:25Z,41.890122,-87.624067,"(41.81845467522097, -87.45902617559655)",3548476,"(41.890122, -87.62406700000001)",0.000000,True
256302,535,2009-04-26T09:50:16Z,63.433333,10.900000,"(63.4021732172705, 10.791859271024766)",256302,"(63.433333, 10.9)",0.000000,False
3614532,20072,2009-05-22T08:40:40Z,60.508290,22.451014,"(60.47937799803463, 22.258209746488582)",3614532,"(60.50829, 22.451014)",0.000000,True
1253633,3677,2008-10-16T14:24:47Z,41.060624,-74.144466,"(40.91913306930224, -73.96920208681559)",1253633,"(41.060624, -74.14446600000001)",0.000000,True
4592723,48209,2009-02-25T21:53:59Z,60.160641,24.936364,"(60.029717195075264, 24.73134416276509)",4592723,"(60.160641000000005, 24.936364)",0.000000,True